<!DOCTYPE html>
<html lang="en">
    <!-- 
        ######## HEADER #######
    -->
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'tobi/style.css' %}" />
        <script src="{% static 'tobi/scripts/jquery.min.js' %}"></script>
        <script src="{% static 'tobi/scripts/main.js' %}"></script>
        <script src="{% static 'tobi/scripts/jquery.base64.js' %}"></script> <!-- TODO mettre uniquement dans la page upload -->

        <title>{% block title %} Tobi Running{% endblock %}</title>
        {% block script %} {% endblock %}
    </head>

    <!-- 
        ######## Nav Header #######
    -->
    <div id="header">
            <div class="header_left">
                <ul>
                    <li> <img src="{% static 'tobi/images/Neoclassical_Velocity.JPG' %}" alt="Logo small" style="float;width:50px;height:35px;" > </li>
                    <li> <a href="/tobi/">home page </a></li> 
                </ul>
            </div> <!--Fin header_left -->
            <div class="header_right">
                <ul>
                    <!-- TODO : modifier pour que l'affichage soit login quand l'utilisateur est anonymous
                        ou logout quand l'utilisateur est deja authentifier -->
                    <li> <a href="/tobi/login">login / logout </a></li> 
                </ul>
            </div><!--Fin header_right-->
        </div> <!-- Fin header -->



    <!-- 
        ######## BODY #######
    -->
    <body>

        <!-- ### MAIN ### -->
        <div id="main">
            {% block content %}{% endblock %}
        </div> <!-- Fin MAIN -->

    </body>
</html>
