<!DOCTYPE html>
<html lang="en">
    <!-- 
        ######## HEADER #######
    -->
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'tobi/style.css' %}" />
        <script src="{% static 'tobi/scripts/jquery.min.js' %}"></script>
        <script src="{% static 'tobi/scripts/main.js' %}"></script>
        <script src="{% static 'tobi/scripts/jquery.base64.js' %}"></script> <!-- TODO mettre uniquement dans la page upload -->
        <script>
            $(document).ready(function() {
                $("[data-toggle]").click(function() {
                    var toggle_el = $(this).data("toggle");
                    $(toggle_el).toggleClass("open-sidebar");
                });
            });
            <!-- TODO : fixe swipe-area fonctionne pas erreur dans le css -->
            $(".swipe-area").swipe({
                swipeStatus:function(event, phase, direction, distance, duration, fingers)
                {
                    if (phase=="move" && direction =="right") {
                        $(".container").addClass("open-sidebar");
                        return false;
                    }
                    if (phase=="move" && direction =="left") {
                        $(".container").removeClass("open-sidebar");
                        return false;
                    }
                }
            });
          </script>
          <title>{% block title %} Tobi Running{% endblock %}</title>
          {% block script %} {% endblock %}
    </head>

    <body>

        <!-- Contenu  -->
        <div class="container">
            <!-- 
                ######## Nav side bar#######
            -->
            <div id="sidebar">
                <ul>
                    <li><a href="/tobi/">Home</a></li>
                    <li><a href="/tobi/new_perf">Add activity</a></li>
                    <li><a href="/tobi/view_activity">View Activity</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <!-- 
                ######## BODY #######
            -->
            <!-- ### MAIN ### -->
            <div class="main-content">
                <!-- Button that show sidebar -->
                <div class="swipe-area"></div>
                <a href="#" data-toggle=".container" id="sidebar-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="content">
                    {% block content %}{% endblock %}
                </div> <!-- Fin content -->
            </div> <!-- Fin Main -->
        </div> <!-- Fin container -->


    </body>
</html>
