<!DOCTYPE html>
<html lang="en">
    <!-- 
        ######## HEADER #######
    -->
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'tobi/style.css' %}" />
        <title>{% block title %} Tobi Running{% endblock %}</title>
        {% block script %} {% endblock %}
    </head>

    <!-- 
        ######## Nav Header #######
    -->
    <div id="header">
            <div class="header_left">
                <ul>
                    <li> <a href="/tobi/"> <img src="{% static 'tobi/images/Athletics_pictogram.png' %}" alt="Logo small" style="float;width:70px;height:70px;" > </a></li> 
                    <li> <a href="/tobi/">home page </a></li> 
                </ul>
            </div> <!--Fin header_left -->
            <div class="header_right">
                <ul>
                    <!-- TODO : modifier pour que l'affichage soit login quand l'utilisateur est anonymous
                        ou logout quand l'utilisateur est deja authentifier -->
                     {% if user.is_authenticated %}
                    <li> <a href="/tobi/logout"> {{user.username}}/ logout </a></li> 
                    {% else %}
                    <li> <a href="/tobi/login"> login here !</a></li> 
                    {% endif %}
                </ul>
            </div> <!--Fin header_right-->
        </div> <!-- Fin header -->



    <!-- 
        ######## BODY #######
    -->
    <body>

        <!-- ### MAIN ### -->
        <div id="main">
            {% block content %}{% endblock %}
        </div> <!-- Fin MAIN -->

    </body>
</html>
