{% extends "tobi/base.html" %}

{% load staticfiles%}

{% block script %}
<!-- 
    TODO : a supprimer 
    ### Premiere configuration avec tablesorter mais ceci est un echec pour la suppression 
    d'une ligne avec ajax ... je vais donc tester datatables.net qui semble etre une reference
    selon un collegue ###
<script type="text/javascript" src="{% static 'tobi/scripts/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'tobi/scripts/jquery.tablesorter.pager.js' %}"></script> 
<link rel="stylesheet" type="text/css" href="{% static 'tobi/style-tablesorter.css' %}" />  
<link rel="stylesheet" type="text/css" href="{% static 'tobi/jquery.tablesorter.pager.css' %}" />  -->
<script type="text/javascript" src="{% static 'tobi/scripts/list-Activitys.js' %}"></script>

<script type="text/javascript" src="{% static 'tobi/scripts/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'tobi/jquery.dataTables.min.css' %}" />  

{% endblock %}

{% block content %}


<h1> List Activitys </h1>

<!-- http://tablesorter.com/docs/ -->

<div class="listes_activity" id="lst_activitys">
    <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead> 
            <tr> 
                <th>Op</th> 
                <th>Title</th> 
                <th>Date Performed</th> 
                <th>Description</th> 
                <th>Distance(km)</th> 
                <th>Status</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for activity in user_activitys %}
            <tr id={{ activity.pk }} >
                <td><img src="{% static 'tobi/images/garbage.png' %}" class="icon-delete" height="25" width="25"/> </td>
                <td class=title > <a href="/tobi/view_activity/{{ activity.pk }}" >{{ activity.title }}</a></td> 
                <td>{{ activity.datePerformed }}</td> 
                <td>{{ activity.description }}</td> 
                <td>{{ activity.distance|floatformat:2 }}</td> 
                <td>{{ activity.activity_status }}</td> 
            </tr> 
            {% endfor %}
        </tbody> 
    </table> 

</div> <!-- class=listes_activity -->

{% endblock %}
