{% extends "tobi/base.html" %}

{% load staticfiles%}
{% load leaflet_tags %}

{% block script %}
{% leaflet_js %}
{% leaflet_css %}

<!-- TODO : modifier la taille de la map par default comme quand on ajouter une activity -->
<link rel="stylesheet" type="text/css" href="{% static 'tobi/show_activity.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tobi/my_bootstrap.css' %}" />
<script src="{% static 'tobi/scripts/side_info_map.js' %}"></script>
<script src="{% static 'tobi/leaflet-gpx/gpx.js' %}"></script>
<script src="{% static 'tobi/scripts/my_bootstrap.js' %}"></script>

<script type="text/javascript">
function map_init_basic (map, options) {
    //  test de creation d'une map avec zoom sur cette dernierer
    //    map.setView([45.571034, -73.898506], 13);
    //    L.marker([45.571034, -73.898506]).addTo(map);
    elt = document.getElementById('Detail_course');
    function _c(c) { return elt.getElementsByClassName(c)[0]; }

    var gpx = "./{{ the_activity.id }}/gpx"
        new L.GPX(gpx, {
            async: true, 
        }).on('loaded', function(e) {
            var gpx = e.target;
            map.fitBounds(e.target.getBounds());
            _c('distance_mile').textContent = gpx.get_distance_imp().toFixed(2);
            _c('distance').textContent = (gpx.get_distance() / 1000).toFixed(2);
            _c('moving_time').textContent = gpx.get_duration_string(gpx.get_moving_time());
            _c('total_time').textContent     = gpx.get_duration_string(gpx.get_total_time() );
            _c('avgspeed').textContent    = gpx.get_moving_speed().toFixed(2);
            _c('elevation-gain').textContent = gpx.to_ft(gpx.get_elevation_gain()).toFixed(0);
            _c('elevation-loss').textContent = gpx.to_ft(gpx.get_elevation_loss()).toFixed(0);
            _c('elevation-net').textContent  = gpx.to_ft(gpx.get_elevation_gain()
                    - gpx.get_elevation_loss()).toFixed(0);
        }).addTo(map);

    /*
       Test passant avec un deuxieme fichier gpx sur la map
       var gpx = "./52/gpx"
       new L.GPX(gpx, {
       async: true, 
       polyline_options: {
       color: 'red'}
       }).on('loaded', function(e) {
       map.fitBounds(e.target.getBounds());
       }).addTo(map);
     */
}
</script>
<script>
// Quand je met la definition dans main.js il ne trouve pas la function :-/
//auto expand textarea
function adjust_textarea(h) {
    // Increase de size for max 100px
    if (h.scrollHeight < 100 ) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
}
</script>
{% endblock %}

{% block content %}
<div class="sidebar-info" id="side_info_map">
    <img src="{% static 'tobi/images/Plain-Arrows_to-left.png' %}" id="left-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
    <img src="{% static 'tobi/images/Plain-Arrows_to-right.png' %}" id="right-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
    <p id='static_map'> 
    {% leaflet_map "test_map" callback="window.map_init_basic" %}
    </p>
</div>

    <h1> {{ the_activity.title }} </h1>

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#Base">Info</a></li>
        <li><a data-toggle="pill" href="#Detail_course">Detail</a></li>
        <!-- <li><a data-toggle="pill" href="#Graph">Graphique</a></li> -->
    </ul>

    <div class="tab-content">
        <div id="Base" class="tab-pane fade in active">
            <h3>Activity information</h3>

            <form class="form_tobi" action="{% url 'tobi:show_activity' the_activity.id %}" method="post" enctype="multipart/form-data" id="post-activity">
                {% csrf_token %}
                <p> 
                {{ form.errors }}
                {{ form.non_field_errors }}
                </p>

                <div id="form-info" >
                    <label>
                        <span> {{form.title.label}} </span> {{form.title }}
                    </label>
                    <label>
                        <span> {{form.datePerformed.label}} </span> {{form.datePerformed}}
                    </label>
                    <label>
                        <span> {{form.description.label}} </span> {{form.description}}
                    </label>
                    <label>
                        <span> {{form.distance.label}} </span> {{form.distance}}
                    </label>
                    <label>
                        <span> {{form.ispublic.label}} </span> {{form.ispublic}}
                    </label>
                    <input type="submit" id="save" value="Save" name="save" />
                    <input type="submit" id="cancel" value="Cancel" name="cancel"/>
                    <input type="submit" id="delete" value="Delete" name="delete"/>
                </div>
            </form>

        </div>
        <div id="Detail_course" class="tab-pane fade">
            <h3>Activity Information </h3>
                <li>distance:&nbsp;<span class="distance"></span> km</li>
                <li>distance Miles:&nbsp;<span class="distance_mile"></span> ml</li>
                <li>duration (moving):&nbsp;<span class="moving_time"></span></li>
                <li>duration (total Time):&nbsp;<span class="total_time"></span></li>
                <li>speed average:&nbsp;<span class="avgspeed"></span> km/h</li>
                <li>elevation-gain:&nbsp;<span class="elevation-gain"></span></li>
                <li>elevation-loss:&nbsp;<span class="elevation-loss"></span></li>
                <li>elevation-net:&nbsp;<span class="elevation-net"></span></li>
        </div>
<!--        <div id="Graph" class="tab-pane fade">
            <h3>Graphique</h3>
            <p>Le super graphique de ouff</p>
        </div>
-->
    </div>
    {% endblock %}
