{% extends "tobi/base.html" %}

{% load staticfiles%}
{% load leaflet_tags %}

{% block script %}
{% leaflet_js %}
{% leaflet_css %}

<!-- TODO : modifier la taille de la map par default comme quand on ajouter une activity -->
<link rel="stylesheet" type="text/css" href="{% static 'tobi/show_activity.css' %}" />
<script src="{% static 'tobi/scripts/side_info_map.js' %}"></script>

<script type="text/javascript">
function map_init_basic (map, options) {
    map.setView([45.571034, -73.898506], 13);
    L.marker([45.571034, -73.898506]).addTo(map);


}
</script>
<script>
// Quand je met la definition dans main.js il ne trouve pas la function :-/
//auto expand textarea
function adjust_textarea(h) {
    // Increase de size for max 100px
    if (h.scrollHeight < 100 ) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
}
</script>
{% endblock %}

{% block content %}
        <div class="sidebar-info" id="side_info_map">
            <img src="{% static 'tobi/images/Plain-Arrows_to-left.png' %}" id="left-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
            <img src="{% static 'tobi/images/Plain-Arrows_to-right.png' %}" id="right-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
            <p id='static_map'> 
                    {% leaflet_map "test_map" callback="window.map_init_basic" %}
            </p>
        </div>

<h2> {{ the_activity.title }} </h2>

        <form class="form_tobi" action="{% url 'tobi:show_activity' the_activity.id %}" method="post" enctype="multipart/form-data" id="post-activity">
            {% csrf_token %}
            <p> 
            {{ form.errors }}
            {{ form.non_field_errors }}
            </p>
            
            <div id="form-info" >
                <label>
                    <span> {{form.title.label}} </span> {{form.title }}
                </label>
                <label>
                    <span> {{form.datePerformed.label}} </span> {{form.datePerformed}}
                </label>
                <label>
                    <span> {{form.description.label}} </span> {{form.description}}
                </label>
                <label>
                    <span> {{form.distance.label}} </span> {{form.distance}}
                </label>
                <label>
                    <span> {{form.ispublic.label}} </span> {{form.ispublic}}
                </label>
                <label>
                    <span> </span> <input type="submit" id="save" value="Save" name="save" /> 
                </label>
                <label>
                    <span> </span> <input type="submit" id="cancel" value="Cancel" name="cancel"/>
                </label>
                <label>
                    <span> </span> <input type="submit" id="delete" value="Delete" name="delete"/>
                </label>
            </div>
        </form>

{% endblock %}
