{% extends "tobi/base.html" %}

{% load staticfiles%}
{% block script %}

<script>
// Quand je met la definition dans main.js il ne trouve pas la function :-/
//auto expand textarea
function adjust_textarea(h) {
    // Increase de size for max 100px
    if (h.scrollHeight < 100 ) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
}
</script>
{% endblock %}

{% block content %}


       <!-- <a href="#" data-toggle=".infobar" id="sidebar-info">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <br>
            <b>M</b><br>
            <b>A</b><br>
            <b>P</b><br>
            </a> -->
 
        <div class="sidebar-info" id="side_info_map">
            <img src="{% static 'tobi/images/Plain-Arrows_to-left.png' %}" id="left-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
            <img src="{% static 'tobi/images/Plain-Arrows_to-right.png' %}" id="right-arrow" alt="Fleche" style="float;width:22px;height:18px;" >
            <p id='static_map'> 
                    <img id="url_static_map" src=""> 
            </p>
        </div>

<h1> Add a new  Activity </h1>

        <!-- Upload form. Note enctype attribute!
        <form class="form-style-4" action="" method="post">
            <label for="field1">
                <span>Enter Your Name</span><input type="text" name="field1" required="true" />
            </label>
            <label for="field2">
                <span>Email Address</span><input type="email" name="field2" required="true" />
            </label>
            <label for="field3">
                <span>Short Subject</span><input type="text" name="field3" required="true" />
            </label>
            <label for="field4">
                <span>Message to Us</span><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea>
            </label>
            <label>
                <span>&nbsp;</span><input type="submit" value="Send Letter" />
            </label>
        </form>  -->
        <form class="form_tobi" action="{% url 'tobi:new_perf' %}" method="post" enctype="multipart/form-data" id="post-activity">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.gpxfile.label_tag }} {{ form.gpxfile.help_text }}
            {{ form.gpxfile.errors }} <br>
            {{ form.gpxfile }}  <input type="submit" value="Upload" />
            </p>
            
            <div id="form-info" >
                <label>
                    <span> {{form.title.label}} </span> {{form.title }}
                </label>
                <label>
                    <span> {{form.datePerformed.label}} </span> {{form.datePerformed}}
                </label>
                <label>
                    <span> {{form.description.label}} </span> {{form.description}}
                </label>
                <label>
                    <span> {{form.distance.label}} </span> {{form.distance}}
                </label>
                <label>
                    <span> {{form.ispublic.label}} </span> {{form.ispublic}}
                </label>
            </div>
        </form>

{% endblock %}
