/*
 * CSS Tobi web site 
 * Author : Thomas Boutry <thomas.boutry@x3rus.com>
 * Description :
 *   TODO  ajouter une description
 *
 */


body {
    background-image: url("images/login-bk.jpg");
}

/*
 * DIV content
 */

#main {
    width: 100%;
    margin: 100px 0px 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} /* FIN main */

.login_box{
    position: relative ;
    width: 30%;
    margin: 215px 370px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
/*    background-color : #ffffff; */
    color : #ffffff; 

} /* FIN main_central */

